<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="/img/silicon-logo.png" alt="">
        </div>
        <span class="logo_name">Silicon University</span>
    </div>

    <div class="menu-items">
      <ul class="nav-links">
          <li><a href="/dashboard">
              <i class="uil uil-estate"></i>
              <span class="link-name">Dahsboard</span>
          </a></li>
          <li><a href="/placement_officer/add_student">
              <i class="uil uil-user-plus"></i>
              <span class="link-name">Add Students</span>
          </a></li>
          <li><a href="/placement_officer/edit_student_details">
              <i class="uil uil-edit"></i>
              <span class="link-name">Edit Student Details</span>
          </a></li>
          <li><a href="/placement_officer/program_planning/">
            <i class="uil uil-list-ul"></i>
            <span class="link-name">Program Planning</span>
        </a></li>
          <li><a href="/placement_officer/stream_planning/">
              <i class="uil uil-list-ui-alt"></i>
              <span class="link-name">Stream Planning</span>
          </a></li>
          <li><a href="/placement_officer/create_drive/">
              <i class="uil uil-focus-add"></i>
              <span class="link-name">Create Drives</span>
          </a></li>
          <li><a href="/placement_officer/manage_drives/">
              <i class="uil uil-layer-group"></i>
              <span class="link-name">Manage Drives</span>
          </a></li>
      </ul>
      
      <ul class="logout-mode">
          <li><a href="/logout">
              <i class="uil uil-signout"></i>
              <span class="link-name">Logout</span>
          </a></li>
      </ul>
    </div>
</nav>