<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applied Students</title>
    <link rel="stylesheet" href="/css/common/dashboard-new.css">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<body>
    <%- include('../partials/nav-officer'); %>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="branding-box">Placement Portal</div>
            <div class="user-box">
                <i class="uil uil-user-circle user-circle"></i>
            </div>
        </div>

        <div class="dash-content">
            <div class="activity">
                <div class="title">
                    <i class="uil uil-eye"></i>
                    <span class="text">View Applied Students</span>
                </div>
                <% if (appliedStudents.length === 0) { %>
                    <p>No students have applied for this drive yet.</p>
                <% } else { %>
                    <div class="activity-data-data">
                        <div class="data name">
                            <span class="data-title">Username</span>
        
                            <% appliedStudents.forEach(student => { %>
                                <span class="data-list">
                                    <%= student.username %>
                                    
                                </span>
                                <% }); %>
                        </div>
                        <div class="data email">
                            <span class="data-title">Name</span>
        
                            <% appliedStudents.forEach(student => { %>
                                <span class="data-list">
                                    <%= student.name %>
                                </span>
                                <% }); %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
    
    <script src="/js/nav.js"></script>
</body>

</html>